<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros de patrimônios</title>
    <link rel="icon" type="image/x-icon" href="../images/logo-Site.png">
    <link rel="stylesheet" href="../styles/importacao.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/auth.js"></script>

</head>
<body>
    
    <div class="container">
        <form class="Importar-cadastro" id="importacao-form" onsubmit="enviarDados(event)" enctype="multipart/form-data">
            <h1 class="titulo-importacao">Importar Cadastros</h1>
            <div class="form">
                <label class="titulo-import">Selecione o arquivo para importar:</label>
                <input type="file" id="excel" name="excel" accept=".xlsx, .xls">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>

    <script>
        async function enviarDados(event) {
            event.preventDefault();
            const token = localStorage.getItem('token');
            const form = document.getElementById("importacao-form");
            const formData = new FormData(form)

            try{
                const dados = await fetch('/importacao', {
                    method: 'POST',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }, 
                    body: formData
                },
                Swal.fire({
                        title: 'Sucesso!',
                        text: 'A importação ocorreu com sucesso!',
                        icon: 'succes',
                        confirmButtonText: 'Ok',
                        timer: 3000,
                        timerProgressBar: true,
                        didClose: () => {
                            window.location.href = 'http://localhost:63263/patrimonios';
                        }
                    })
            );

                const resposta = await dados.json()
                    
                if (!dados.ok) {
                    Swal.fire('Erro!', 'Problema interno no servidor: '+resposta.mensagem, 'error')
                }
            } catch(err) {
                console.log("Erro: ",err)
                Swal.fire('Erro!', 'Problema interno no servidor:'+err, 'error')
            }
        }

    </script>
</body>
</html>