<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros de patrimônios</title>
    <link rel="stylesheet" href="../styles/importacao.css">
</head>
<body>
    
    <div class="container">
        <form class="Importar-cadastro" id="cadastro-form" method="POST" onsubmit="" enctype="multipart/form-data">
            <h1 class="titulo-cadastro">Importar Cadastros</h1>
            <div class="form">
                <label class="titulo-import">Selecione o arquivo para importar:</label>
                <input type="file" id="excel" accept=".xlsx, .xls">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>  
</body>
</html>